body{
    background:#f4f6f9;
}

.navbar{
    margin-bottom:20px;
}

.card{
    border:none;
    border-radius:12px;
    box-shadow:0 4px 12px rgba(0,0,0,.15);
    transition:.3s;
}

.card:hover{
    transform:translateY(-5px);
}

.btn{
    border-radius:8px;
}

h2{
    font-weight:bold;
}