<!DOCTYPE html>
<html>
<head>
    <title>Slot Booking</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <span class="navbar-brand fw-bold">Slot Booking App</span>

        <a href="/bookings" class="btn btn-warning">
            View Bookings
        </a>
    </div>
</nav>

<div class="container mt-4">

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}

<div class="alert alert-{{category}}">
    {{message}}
</div>

{% endfor %}
{% endif %}
{% endwith %}

<h2 class="text-center mb-4">
Available Slots
</h2>

<div class="row">

{% for slot in slots %}

<div class="col-md-3 mb-4">

<div class="card">

<div class="card-body text-center">

<h5>{{slot}}</h5>

<a href="/book/{{slot}}" class="btn btn-primary mt-2">
Book Slot
</a>

</div>

</div>

</div>

{% endfor %}

</div>

</div>

</body>
</html>